.BuildControls {
    width: 100%;
    background-color: rgb(196, 139, 55);
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1pc #ccc;
    margin: auto;
    padding: 10px 0;
}